In [111]:
import pandas as pd
import numpy as np
import datetime

In [112]:
weather_training_data=pd.read_csv("weather_training_data_sg.csv",index_col=0)

In [113]:
aqi_training_data=pd.read_csv("aqi_training_data.csv",index_col=0)

In [114]:
aqi_training_data.head().shift(1)

     datetime   aqi
0        None   NaN
1  17/12/2022  29.0
2  18/12/2022  33.0
3  19/12/2022  29.0
4  20/12/2022  27.0

In [115]:
weather_training_data.shape

(41, 36)

In [116]:
aqi_training_data.shape

(30, 2)

In [117]:
weather_training_data["datetime"][2]>weather_training_data["datetime"][1]

True

In [118]:
aqi_training_data["datetime"]=aqi_training_data["datetime"].apply(lambda x:datetime.datetime.strptime(x,"%d/%m/%Y"))

In [119]:
weather_training_data["datetime"]=weather_training_data["datetime"].apply(lambda x:datetime.datetime.strptime(x,"%Y-%m-%d"))

In [120]:
shift=2
later_date=max(min(aqi_training_data["datetime"]),min(weather_training_data["datetime"]))
later_date

Timestamp('2022-12-17 00:00:00')

In [121]:
start_date=later_date+datetime.timedelta(days=shift)

In [122]:
start_date

Timestamp('2022-12-19 00:00:00')

In [123]:
#truncate weather data
truncated_weather_training_data = weather_training_data[weather_training_data["datetime"]>=start_date]

In [132]:
truncated_weather_training_data.shape
truncated_weather_length=len(truncated_weather_training_data)

In [142]:
truncated_weather_training_data["datetime"]

14   2022-12-19
15   2022-12-20
16   2022-12-21
17   2022-12-22
18   2022-12-23
19   2022-12-24
20   2022-12-25
21   2022-12-26
22   2022-12-27
23   2022-12-28
24   2022-12-29
25   2022-12-30
26   2022-12-31
27   2023-01-01
28   2023-01-02
29   2023-01-03
30   2023-01-04
31   2023-01-05
32   2023-01-06
33   2023-01-07
34   2023-01-08
35   2023-01-09
36   2023-01-10
37   2023-01-11
38   2023-01-12
39   2023-01-13
40   2023-01-14
Name: datetime, dtype: datetime64[ns]

In [139]:
col1 = aqi_training_data[:truncated_weather_length]

In [140]:
col1

     datetime  aqi
0  2022-12-17   29
1  2022-12-18   33
2  2022-12-19   29
3  2022-12-20   27
4  2022-12-21   31
5  2022-12-22   25
6  2022-12-23   44
7  2022-12-24   57
8  2022-12-25   45
9  2022-12-26   46
10 2022-12-27   51
11 2022-12-28   55
12 2022-12-29   60
13 2022-12-30   61
14 2022-12-31   57
15 2023-01-01   59
16 2023-01-02   60
17 2023-01-03   31
18 2023-01-04   26
19 2023-01-05   46
20 2023-01-06   46
21 2023-01-07   38
22 2023-01-08   41
23 2023-01-09   54
24 2023-01-10   72
25 2023-01-11   59
26 2023-01-12   57

In [158]:

truncated_weather_training_data["aqi"]=aqi_training_data["aqi"]

C:\Users\Admin\AppData\Local\Temp\ipykernel_9700\3101268457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truncated_weather_training_data["aqi"]=aqi_training_data["aqi"]

In [161]:
aqi_training_data["aqi"].shape

(30,)

In [162]:
truncated_weather_training_data.shape

(27, 37)

In [192]:
final=aqi_training_data.merge(weather_training_data,on="datetime", how="outer")
final=final.sort_values(by="datetime")

In [193]:
final["aqi_1"]=final["aqi"].shift(1)
final["aqi_2"]=final["aqi"].shift(2)
final["aqi_3"]=final["aqi"].shift(3)
final["aqi_4"]=final["aqi"].shift(4)
final["aqi_5"]=final["aqi"].shift(5)
final["aqi_6"]=final["aqi"].shift(6)
final["aqi_7"]=final["aqi"].shift(7)

In [194]:
final.tail()

,datetime,aqi,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,icon,stations,source,aqi_1,aqi_2,aqi_3,aqi_4,aqi_5,aqi_6,aqi_7
25,2023-01-11,59.0,1.673366e+09,85.1,76.9,79.0,92.4,76.9,80.3,73.9,...,rain,"['48698099999', '48679099999', 'WSAP', '486940...",obs,72.0,54.0,41.0,38.0,46.0,46.0,26.0
26,2023-01-12,57.0,1.673453e+09,90.4,75.3,81.9,98.1,75.3,85.6,72.8,...,rain,"['48698099999', '48679099999', 'WSAP', '486940...",obs,59.0,72.0,54.0,41.0,38.0,46.0,46.0
27,2023-01-13,54.0,1.673539e+09,88.1,56.9,78.5,97.6,56.9,80.6,73.5,...,rain,"['48698099999', 'EUCDE37', '48679099999', 'WSA...",obs,57.0,59.0,72.0,54.0,41.0,38.0,46.0
28,2023-01-14,65.0,1.673626e+09,87.6,48.7,78.1,96.7,48.7,80.9,72.8,...,rain,"['EUCDE37', 'WSAP', 'WSSS', 'WIDD', 'WSSL', 'W...",obs,54.0,57.0,59.0,72.0,54.0,41.0,38.0
29,2023-01-15,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,65.0,54.0,57.0,59.0,72.0,54.0,41.0

In [196]:
final=final.drop(["aqi"],axis=1)

In [208]:
final=final.dropna(subset=[f"aqi_{i}" for i in range(1,8)],how="any",axis="rows")

In [214]:
final=final.reset_index()

In [216]:
final=final.drop([len(final)-1],axis=0)

In [218]:
final.columns

Index(['index', 'datetime', 'datetimeEpoch', 'tempmax', 'tempmin', 'temp',
       'feelslikemax', 'feelslikemin', 'feelslike', 'dew', 'humidity',
       'precip', 'precipprob', 'precipcover', 'preciptype', 'snow',
       'snowdepth', 'windgust', 'windspeed', 'winddir', 'pressure',
       'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex',
       'severerisk', 'sunrise', 'sunriseEpoch', 'sunset', 'sunsetEpoch',
       'moonphase', 'conditions', 'description', 'icon', 'stations', 'source',
       'aqi_1', 'aqi_2', 'aqi_3', 'aqi_4', 'aqi_5', 'aqi_6', 'aqi_7'],
      dtype='object')

In [219]:
final.head(1)

,index,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,icon,stations,source,aqi_1,aqi_2,aqi_3,aqi_4,aqi_5,aqi_6,aqi_7
0,7,2022-12-24,1.671811e+09,86.9,77.1,81.1,91.0,77.1,83.0,71.3,...,partly-cloudy-day,"['48698099999', '48679099999', 'WSAP', '486940...",obs,44.0,25.0,31.0,27.0,29.0,33.0,29.0

In [220]:
columns_to_drop=["datetime","datetimeEpoch","preciptype","snowdepth","sunrise","sunset","icon","stations","source"]

In [222]:
final=final.drop(columns_to_drop,axis=1)

In [223]:
final.columns

Index(['index', 'tempmax', 'tempmin', 'temp', 'feelslikemax', 'feelslikemin',
       'feelslike', 'dew', 'humidity', 'precip', 'precipprob', 'precipcover',
       'snow', 'windgust', 'windspeed', 'winddir', 'pressure', 'cloudcover',
       'visibility', 'solarradiation', 'solarenergy', 'uvindex', 'severerisk',
       'sunriseEpoch', 'sunsetEpoch', 'moonphase', 'conditions', 'description',
       'aqi_1', 'aqi_2', 'aqi_3', 'aqi_4', 'aqi_5', 'aqi_6', 'aqi_7'],
      dtype='object')